@if(addressArr.length===0){
<img src="../../../assets/not found list.svg" class="w-[100vw] h-[100vh] flex justify-center" alt="">
}
@else{
<section class="flex justify-center items-center min-h-screen">
    <div class="w-full max-w-screen-xl bg-white shadow-lg p-8">
        <div class="mb-8">
            <h1 class="text-2xl font-bold">Address Details</h1>
        </div>
        <div class="flex justify-end mb-4">
            <button routerLink="/add-address"
                class="bg-red-800 rounded-sm text-white px-4 py-2 hover:scale-105 duration-150">Add New Address</button>
        </div>
        <hr class="mb-4">
        <div *ngFor="let address of addressArr | paginate:{itemsPerPage:pSize,currentPage:currentPage}; let i = index"
            class="grid grid-cols-1 md:grid-cols-5 gap-4 p-4 relative">
            <div class="absolute right-0 top-2 flex gap-3">
                <div>
                    <svg  (click)="delete(address._id)"  class="hover:scale-110 duration-150" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2zM18 4h-2.5l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1" />
                    </svg>
                </div>
                <div>
                    <svg  (click)="edit(address._id)"  class="hover:scale-110 duration-150" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor" d="m18.988 2.012l3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287l-3-3L8 13z" />
                        <path fill="currentColor"
                            d="M19 19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2z" />
                    </svg>
                </div>
            </div>
            <div class="md:col-span-2 mb-4">
                <h1 class="text-gray-600">Address {{i+1}}</h1>
            </div>
            <div class="md:col-span-3">
                <p class="text-gray-600">Name :{{ address.fname }} {{ address.lname }}</p>
                <p class="text-gray-600">House Name: {{ address.housename }}</p>
                <p class="text-gray-600">City: {{ address.city }}</p>
                <p class="text-gray-600">State: {{ address.state }}</p>
                <p class="text-gray-600">District: {{ address.district }}</p>
                <p class="text-gray-600">Country: {{ address.country }}</p>
                <p class="text-gray-600">Email: {{ address.email }}</p>
                <p class="text-gray-600">Phone: {{ address.mobile }}</p>
                <p class="text-gray-600">Pin Code: {{ address.pin }}</p>
            </div>
        </div>
    </div>
</section>

}
<div class="flex justify-center">

    <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
</div>