<app-nav-bar></app-nav-bar>
<section class="grid grid-cols-1">
    <div class="fixed right-20 top-32 z-10 ">
        <div
            class="  rounded-full p-0 hover:scale-110 flex text-white justify-center absolute w-[5vw] h-[5vh] bottom-0 left-0 rounded-bl-lg">
            @if (true) {
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                <path fill="#ffffff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"
                    d="M15 8C8.92487 8 4 12.9249 4 19C4 30 17 40 24 42.3262C31 40 44 30 44 19C44 12.9249 39.0751 8 33 8C29.2797 8 25.9907 9.8469 24 12.6738C22.0093 9.8469 18.7203 8 15 8Z" />
            </svg>
            }
            @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                <path fill="#cc0000" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"
                    d="M15 8C8.92487 8 4 12.9249 4 19C4 30 17 40 24 42.3262C31 40 44 30 44 19C44 12.9249 39.0751 8 33 8C29.2797 8 25.9907 9.8469 24 12.6738C22.0093 9.8469 18.7203 8 15 8Z" />
            </svg>
            }

        </div>
    </div>
    <div class="grid grid-cols-2">
        <div class="">
            <img src="../../../assets/Bicycle.jpeg" alt="...">
        </div>
        <div class="ml-[10vw]   align-text-top justify-items-end  mt-[20vh]">
            <h1 class=" text-4xl mb-3"><strong>cosmic</strong></h1>
            <div>
                <div class=" grid grid-cols-1 justify-center mt-[10vh] w-[25vw] gap-3 ">
                    <P><strong>PRICE :</strong>₹9999</P>
                    <P><strong>BRAND :</strong>cosmic</P>
                    <!-- <P><strong>CATEGORY :</strong>men</P> -->
                    <!-- <P><strong>GEAR :</strong>YES</P>
           <P><strong>BREAK :</strong>normal</P>
           <P><strong>SUSPENTION :</strong>YES</P> -->
                </div>
            </div>
            <div class=" p-5 flex gap-4">
                <div>
                    <button class="bg-red-800 text-white rounded-md w-28 h-10 hover:scale-110 duration-150  ">ADD TO
                        CART</button>
                </div>
                <div>
                    <button class="bg-red-800 text-white rounded-md w-20 h-10 hover:scale-110 duration-150  ">BUY
                        NOW</button>
                </div>
            </div>
        </div>
    </div>
    <div class="py-10 flex justify-center">
        <div class="m-8 bg-red-700 w-[90%] h-[5vw] rounded-lg">
        </div>
    </div>
    <div class="grid grid-cols-2">
        <div class="grid justify-center">
           <h1>highlights</h1>
        </div>
        <div>

        </div>
    </div>
</section>