@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px * 5));
    }
}
.scrolling-wrapper {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    padding: 2rem 0;
}
.scrolling-content {
    width: fit-content;
    display: flex;
    animation: scroll 8s linear infinite ;
}
.scrolling-content:hover {
    animation-play-state: paused;
}