<header class="bg-red-700 font-[Electrolize]"> 
    <nav class=" flex justify-between items-center">
        <div>
            <img class="w-36" src="../../../../assets/Screenshot 2023-11-29 100600.png" alt="...">
        </div>
        <div class="">
            <ul class="flex-items-center gap-[3vw]">
                <li>
                    <a class="hover:underline" href="">Home</a>
                </li>
                <li>
                    <a class="hover:underline" href="">Bicycles</a>
                </li>
            </ul>
        </div>
        <div>
      <button class="bg-gray-600 text-white px-4 py-2 rounded-full">sign in</button>
        </div>
    
    </nav>
</header>
