<div class="flex">
    <app-navbar></app-navbar>

    <div class="card w-[100vw]">
        <div class="card-header bg-success text-white">
            order List
        </div>
        <div class="card-body">
            <div class="row ">
                <div class="col-3">
                    <input type="text"  [(ngModel)]="search" class="form-control w-[80vw]"  placeholder="Search ">
                </div>
                <!-- <div class="col-3">
            <input type="text" class="form-control" [(ngModel)]="filterObj.ContactNo" placeholder="Search By id">
          </div>
          <div class="col-3">
            <input type="text" class="form-control" [(ngModel)]="filterObj.Email" placeholder="Search By Email">
          </div> -->
                <div class="col-3">
                    <!-- <app-my-button [text]="'Search'" [btnClass]="'btn-sm btn-success'" (onBtnClick)="filetrorder($event)"> </app-my-button> -->

                    <!-- <button class="btn btn-sm btn-success" (click)="filetrorder()">Search</button> -->
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-10" style="float:right;text-align: right">
                </div>
            </div>
            <div>
                <div class="row">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th> product Name</th>
                                <th>user Name</th>
                                <th>Email</th>
                                <th>City</th>
                                <th>DeliveryDate</th>
                                <th>status</th>
                            </tr>
                        </thead>
                        <tbody  *ngFor="let items of order">
                            <tr
                                *ngFor="let item of items['product']|paginate:{itemsPerPage:pagesize,currentPage:currentPage} |searchFilter:search">
                                <td>{{item._id}}</td>
                                <td>{{item.id.name || '--'}}</td>
                                <td>{{items.user.name || '--'}}</td>
                                <td>{{items.user.email || '--'}}</td>
                                <td  class="break-all overflow-hidden">{{items.Location||'--'}}</td>
                                <td>{{item.DeliveryDate | date:'dd-MMM-yyyy'}}</td>
                                <td>@if(item.status==='cancelled'){
                                    cancelled    
                                }@else if (item.status==='return') {
                                    returned
                                }@else if (item.status==='delivered') {
                                    delivered
                                }@else {
                                    <select id="status" name="status" #value 
                                        (change)="changeStatus(items.user, item._id,value.value,item.id.price,item.count)">
                                        <option value="">{{item.status}}</option>
                                      <option value="{{status[0]}}">{{status[0]}}</option>
                                      <option value="{{status[1]}}">{{status[1]}}</option>
                                      <option value="{{status[2]}}">{{status[2]}}</option>
                                      <option value="{{status[3]}}">{{status[3]}}</option>
                                      <option value="{{status[4]}}">{{status[4]}}</option>
                                    </select>
                                }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="flex justify-center">
            <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
        </div>

    </div>