<app-nav-bar></app-nav-bar>
@if(service.length===0){
    <img src="../../../assets/not found list.svg"  class="w-[100vw] h-[100vh] flex justify-center" alt="">
}
@else{
    <div class="card w-auto p-1">
        <div class="card-header text-black">
            order List
        </div>
        <div class="card-body">
            <div class="row ">
                <div class="col-3">
                    <input [(ngModel)]="search" type="text" class="form-control w-[80vw]"  placeholder="Search by product Name ">
                </div>
              
                <div class="col-3">
                
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-10" style="float:right;text-align: right">
                </div>
            </div>
            <div>
                <div class="row">
                    <table  class="table table-bordered table-striped table-hover"  >
                        <thead>
                            <tr>
                                <th>id</th>
                                <th> service Name</th>
                                <th>location</th>
                                <th>date</th>
                                <th>time</th>
                                <th>status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of service | paginate:{itemsPerPage:pagesize,currentPage:currentPage} |searchFilter:search">
                                <td>{{item._id}}</td>
                                <td>{{item.service.name || '--'}}</td>
                                <td>{{item.service.location|| '--'}}</td>
                                <td>{{item.service.date | date:'dd-MMM-yyyy'}}</td>
                                <td>{{item.service.time | timeConvert}}</td>
                                @if (item.date<=Date&&item.status!=='cancelled') {
                                    <td>completed</td>    
                                }@else {
                                    <td>{{item.status }}</td>
                                }
                        
                                @if (item.status==='cancelled') {
                                    <td>{{item.status }}</td>
                                }@else if (item.date<=Date&&item.status!=='cancelled') {
                                     <td>No action are available</td>
                                }
                                @else {

                                    <td><button (click)="cancelled(item._id,item.totalAmount,item.user._id)" class="hover:scale-110 duration-150 bg-red-800 text-white">cancelled</button></td>
                                }
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="flex justify-center">
            <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
        </div>
        
        </div>
}
  

