<app-nav-bar></app-nav-bar>
<section class=" flex justify-center p-10">
<div class="w-[50vw] h-[80vh] grid justify-center shadow-xl ">
<div class="flex justify-center">
    <dotlottie-player src="../../../assets/order-success.json" background="transparent" speed="1"
        style="width: 300px; height: 300px" loop mode="normal" loop  autoplay></dotlottie-player>
</div>
<div class="mb-4">
<div class="grid justify-center">
    <p class="font-semibold text-gray-600">Thank You</p>
</div>
<div class="grid justify-center">
<h1 class="font-bold text-green-600">YOUR ORDER IS CONFIRMED</h1>
</div>
<div class="grid justify-center grid-cols-3 mt-4 h-[5vh] ">
  <button class="border border-solid border-gray-600 flex justify-center font-thin text-gray-600 ">VIEW ORDER</button>
  <button class=" bg-red-700 flex justify-center font-thin text-white col-span-2 " routerLink="/bicycle">CONTINUE SHOPPING</button>
</div>
</div>
</div>
</section>