<app-nav-bar></app-nav-bar>
<div class="container mt-4">
    <div class="d-flex align-items-center justify-content-between">
      <h3></h3>
      <a href="/Profile" class="btn btn-md btn-success mt-3">Back</a>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Wallet History</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              
                <tr>
                  <td></td>
                
                    <td class="text-success">₹</td>
                
                    <td class="text-danger">₹</td>
                 
                  <td></td>
                </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>