<section>
    <div class=" grid place-items-center w-[100vw] h-[100vh]">
        <div class="bg-blue-100 w-[60vw] h-[50vh] grid grid-cols-2 shadow-2xl">
            <div class="px-5 pt-4">
                <img src="{{product.image[0]}}" class="w-[30vw] h-[30vh]" alt="">
            </div>
            <div class="p-10">
                <p>NAME :{{product.name}}</p>
                <p>OWNER :{{product.owner.name}}</p>
                <p>PRICE :₹{{totalAmount}}</p>
                <p>LOCATION:{{dateData.location}}</p>
                <h1 class="underline mt-2">RENT TIME</h1>
                <p>START :{{dateData.start |date }}</p>
                <p>END :{{dateData.end |date }}</p>

            </div>
            <div></div>
            <div>
                <button
             (click)="razor()"    class=" relative px-8 py-2 rounded-md bg-white isolation-auto z-10 border-2 border-red-700 before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-left-full before:hover:left-0 before:rounded-full before:bg-red-700 before:-z-10 before:aspect-square before:hover:scale-150 overflow-hidden before:hover:duration-700 hover:text-white"
              >
               PAY NOW
              </button>
            </div>
        </div>
    </div>
</section>